.no-space {
    display: block;
    bottom: 0;
    top: 0;
    padding: 0;
    margin: 0;
    height: 100%;
}

#sotto {
    display: flex;
    position: relative;
    top: 20px;
}

#analysers {
    margin-top: 5px;
}

.mute-name {
    background-color: palevioletred;
}

#tracks > div {
    display: flex;
}

#tracks > div > label{
    display: flex;
}

#piuSotto {
    display: inline-flex;

    top: 20px;
}

#equalizerDiv {
    margin-left: 5%;
}
#equalizerDiv > div {
    position: relative;
    margin: 10%;
}
#filterDiv  {
    margin-left: 5%;
}

#filterDiv > div {
    position: relative;
    margin: 1%;
}
