#player {
    display: grid;
    width: 50%;
    height: 20%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
div{
    outline-style: solid;
    outline-width: 2px;
    outline-color: violet;
}

#transport > button {
    background-attachment: fixed;
    background-size: auto;
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */


}

#playbutton {
        width: 0; 
        height: 0; 
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        
        border-left: 60px solid black;
}
#stopbutton {
    
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    width: 30px;
    height: 30px;
    background: black;
}

#wave{
    position: relative;
}

#wave > canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#wave > input {
    position: relative;
}